{% extends 'tables.html' %}

{% block name %}
    {{ username }}
{% endblock %}

{% block user %}
    {{ username }}
{% endblock %}

{% block title %}
    远程管理
{% endblock %}

{% block right %}
     <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>登录</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                         <form class="form-horizontal form-label-left" action="" method="post">
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">ip<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="ip" class="form-control col-md-7 col-xs-12" value="{{ hd.ip }}" disabled  type="text">
                        </div>
                      </div>
                             <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">用户名<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="user" class="form-control col-md-7 col-xs-12" name="user"   type="text">
                        </div>
                      </div>
                             <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">密码<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="password" class="form-control col-md-7 col-xs-12"  name="password"   type="password">
                        </div>
                      </div>
                    </form>

                       <div class="form-group">
                        <div class="col-md-6 col-md-offset-3" style="margin: 0 40% 0 40%" >
                            <button  id="login" type="submit" class="btn btn-success" onclick="login()">登录</button></a>
                            <a href="/Api/hostlist"><button  type="submit" class="btn btn-success">返回</button></a>
                      </div>
                        </div>
                  </div>
                </div>
                </div>
              </div>
    <script>

            function login() {
                var ip = $('#ip').val();
                var user = $('#user').val();
                var password = $('#password').val();
                json_data = {'user':user,'password':password,'ip':ip};
                $.ajax(
                    {
                        type:'post',
                        url:'http://127.0.0.1:8000/Api/connecthost',
                        data:json_data,
                        success:function (data) {
                            if(data['statue']=='success'){
                                window.location.href = "http://127.0.0.1:8000/Api/webshell";
                            }
                            else {
                                alert('登录失败')
                            }
                        },
                        error:function (err) {
                            alert(err)
                        }
                    }
                )
            }


    </script>
{% endblock %}